.main-editor {
  display: flex;
  flex-flow: column nowrap;
  background-color: #e0e0e0;
}

.main-editor__presentation-and-settings {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.main-editor__presentation-box {
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.main-editor__presentation {
  display: flex;
}

.presentation-box__button {
  color: #ff8a65;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.presentation-box__buttons-to-move-through-the-slides {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.presentation-box__selected-slides {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.presentation-box__selected-slide {
  width: 100%;
  height: 550px;
  background-color: #ffffff;
}

.presentation-box__add-slide-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 35px;
  width: 100%;
  height: 90px;
  border-radius: 15px;
  background-color: #fafafa;
  color: #ff8a65;
  text-align: center;
  pointer-events: none;
}

.presentation-box__delete-button {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
